Repository deedee-ops/containers: changes, and which lefthook commands are due for each by the changed paths.
All: hadolint, shellcheck, yamllint

hadolint:
  run: hadolint {all_files}

shellcheck:
  run: shellcheck {all_files}

yamllint:
  run: yamllint {all_files}

docs: render README.md
  README.md
Due: none

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.3.2
  apps/paperless-ngx/metadata.json
Due: none

feat(container): update image ricoberger/script_exporter to v2.17.0
  apps/script-exporter/metadata.json
Due: none

chore(container): update image quay.io/invidious/invidious to a4cdca5
  apps/invidious/Dockerfile
Due: hadolint

chore(container): update image quay.io/invidious/invidious to 7da41b3
  apps/invidious/Dockerfile
Due: hadolint

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.3.3
  apps/paperless-ngx/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.1.3
  apps/home-assistant/metadata.json
Due: none

feat(container): update image svenstaro/miniserve to v0.26.0
  apps/miniserve/metadata.json
Due: none

feat(github-action): update tj-actions/changed-files action to v41.1.0
  .github/workflows/prepare-matrix.yaml
Due: yamllint

fix(github-action): update tj-actions/changed-files action to v41.1.1
  .github/workflows/prepare-matrix.yaml
Due: yamllint

fix(github-action): update tj-actions/changed-files action to v41.1.2
  .github/workflows/prepare-matrix.yaml
Due: yamllint

fix(container): update image public.ecr.aws/bitnami/kubectl to v1.29.1
  apps/script-exporter/Dockerfile
Due: hadolint

feat(github-action)!: Update tj-actions/changed-files action to v42.0.0
  .github/workflows/prepare-matrix.yaml
Due: yamllint

fix(container): update image ghcr.io/siderolabs/talosctl to v1.6.2
  apps/talosctl/metadata.json
Due: none

feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.4.0
  apps/paperless-ngx/metadata.json
Due: none

feat: add jellyfin
  apps/jellyfin/Dockerfile
  apps/jellyfin/ci/goss.yaml
  apps/jellyfin/entrypoint.sh
  apps/jellyfin/metadata.json
Due: hadolint, shellcheck, yamllint

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.1.4
  apps/home-assistant/metadata.json
Due: none

feat: add prowlarr
  .github/workflows/deploy.yaml
  Taskfile.yaml
  apps/prowlarr/Dockerfile
  apps/prowlarr/base-entrypoint.sh
  apps/prowlarr/ci/goss.yaml
  apps/prowlarr/metadata.json
  metadata.rules.cue
Due: hadolint, shellcheck, yamllint

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.1.5
  apps/home-assistant/metadata.json
Due: none

fix(prowlarr): add `/config` to exposed volumes
  apps/prowlarr/Dockerfile
Due: hadolint

feat(container): update image ghcr.io/navidrome/navidrome to v0.51.0
  apps/navidrome/metadata.json
Due: none

fix(container): update image ghcr.io/foxcpp/maddy to v0.7.1
  apps/maddy/metadata.json
Due: none

Path conditions:
  hadolint: any of: *Dockerfile
  shellcheck: any of: *.sh
  yamllint: any of: *.yaml
