Repository deedee-ops/containers: changes, and which lefthook commands are due for each by the changed paths.
All: hadolint, shellcheck, yamllint

lefthook.yaml:

---
skip_output:
  - execution
pre-commit:
  parallel: true
  commands:
    hadolint:
      glob: '*Dockerfile'
      run: hadolint {all_files}
    shellcheck:
      glob: "*.sh"
      run: shellcheck {all_files}
    yamllint:
      glob: "*.yaml"
      run: yamllint {all_files}

docs: render README.md
  README.md
Due: none

feat: add wallos
  .github/renovate.json5
  apps/wallos/Dockerfile
  apps/wallos/_/etc/caddy/Caddyfile
  apps/wallos/ci/goss.yaml
  apps/wallos/entrypoint.sh
  apps/wallos/metadata.json
Due: hadolint, shellcheck, yamllint

feat: add davis
  apps/davis/Dockerfile
  apps/davis/_/etc/caddy/Caddyfile
  apps/davis/ci/goss.yaml
  apps/davis/entrypoint.sh
  apps/davis/metadata.json
Due: hadolint, shellcheck, yamllint

docs: fix gossfile manual paths
  apps/alpine/ci/goss.yaml
  apps/authelia/ci/goss.yaml
  apps/bazarr/ci/goss.yaml
  apps/csp-exporter/ci/goss.yaml
  apps/davis/ci/goss.yaml
  apps/firefly-iii/ci/goss.yaml
  apps/firefoxsync/ci/goss.yaml
  apps/gokapi/ci/goss.yaml
  apps/gose/ci/goss.yaml
  apps/home-assistant/ci/goss.yaml
  apps/invidious/ci/goss.yaml
  apps/jellyfin/ci/goss.yaml
  apps/jellystat/ci/goss.yaml
  apps/lldap/ci/goss.yaml
  apps/maddy/ci/goss.yaml
  apps/mbsync/ci/goss.yaml
  apps/memos/ci/goss.yaml
  apps/miniflux/ci/goss.yaml
  apps/miniserve/ci/goss.yaml
  apps/navidrome/ci/goss.yaml
  apps/offlineimap/ci/goss.yaml
  apps/paperless-ngx/ci/goss.yaml
  apps/postgres-init/ci/goss.yaml
  apps/postgres-logical-backup/ci/goss.yaml
  apps/prowlarr/ci/goss.yaml
  apps/radarr/ci/goss.yaml
  apps/roundcube/ci/goss.yaml
  apps/script-exporter/ci/goss.yaml
  apps/sonarr/ci/goss.yaml
  apps/syncthing/ci/goss.yaml
  apps/talosctl/ci/goss.yaml
  apps/tika/ci/goss.yaml
  apps/ubuntu/ci/goss.yaml
  apps/wakapi/ci/goss.yaml
  apps/wallos/ci/goss.yaml
Due: yamllint

fix(davis): create webdav tmp dir
  apps/davis/ci/goss.yaml
  apps/davis/entrypoint.sh
Due: shellcheck, yamllint
