Repository deedee-ops/containers: changes, and which lefthook commands are due for each by the changed paths.
All: hadolint, shellcheck, yamllint

hadolint:
  run: hadolint {all_files}

shellcheck:
  run: shellcheck {all_files}

yamllint:
  run: yamllint {all_files}

feat: add home-assistant
  apps/home-assistant/Dockerfile
  apps/home-assistant/ci/goss.yaml
  apps/home-assistant/metadata.json
Due: hadolint, yamllint

docs: render README.md
  README.md
Due: none

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.1.3
  apps/paperless-ngx/metadata.json
Due: none

fix(github-action): update tj-actions/changed-files action to v40.2.3
  .github/workflows/prepare-matrix.yaml
Due: yamllint

chore(container): update image quay.io/invidious/invidious to 1ecee58
  apps/invidious/Dockerfile
Due: hadolint

feat(github-action): update e1himself/goss-installation-action action to v1.2.1
  .github/workflows/test.yaml
Due: yamllint

feat(github-action)!: Update tj-actions/changed-files action to v41.0.0
  .github/workflows/prepare-matrix.yaml
Due: yamllint

fix(github-action): update tj-actions/changed-files action to v41.0.1
  .github/workflows/prepare-matrix.yaml
Due: yamllint

feat: add talosctl
  .github/workflows/linter.yaml
  .github/workflows/test.yaml
  apps/talosctl/Dockerfile
  apps/talosctl/ci/goss.yaml
  apps/talosctl/entrypoint.sh
  apps/talosctl/metadata.json
Due: hadolint, shellcheck, yamllint

fix(container): update image ghcr.io/siderolabs/talosctl to v1.6.1
  apps/talosctl/metadata.json
Due: none

feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.2.0
  apps/paperless-ngx/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.12.4
  apps/home-assistant/metadata.json
Due: none

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.2.1
  apps/paperless-ngx/metadata.json
Due: none

feat: add script-exporter
  apps/script-exporter/Dockerfile
  apps/script-exporter/ci/goss.yaml
  apps/script-exporter/metadata.json
Due: hadolint, yamllint

fix(github-action): update renovatebot/github-action action to v39.2.4
  .github/workflows/renovate.yaml
Due: yamllint

fix(container): update image syncthing/syncthing to v1.27.2
  apps/syncthing/metadata.json
Due: none

feat(container)!: Update image ghcr.io/onedr0p/home-assistant to v2024
  apps/home-assistant/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.1.1
  apps/home-assistant/metadata.json
Due: none

feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.3.0
  apps/paperless-ngx/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.1.2
  apps/home-assistant/metadata.json
Due: none

feat(container): update image svenstaro/miniserve to v0.25.0
  apps/miniserve/metadata.json
Due: none

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.3.1
  apps/paperless-ngx/metadata.json
Due: none

Path conditions:
  hadolint: any of: *Dockerfile
  shellcheck: any of: *.sh
  yamllint: any of: *.yaml
