Repository deedee-ops/containers: changes, and which lefthook commands are due for each by the changed paths.
All: hadolint, shellcheck, yamllint

lefthook.yaml:

---
skip_output:
  - execution
pre-commit:
  parallel: true
  commands:
    hadolint:
      glob: '*Dockerfile'
      run: hadolint {all_files}
    shellcheck:
      glob: "*.sh"
      run: shellcheck {all_files}
    yamllint:
      glob: "*.yaml"
      run: yamllint {all_files}

fix(github-action): update tj-actions/changed-files action to v42.0.5
  .github/workflows/prepare-matrix.yaml
Due: yamllint

fix(github-action): update renovatebot/github-action action to v40.1.2
  .github/workflows/renovate.yaml
Due: yamllint

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.2.4
  apps/home-assistant/metadata.json
Due: none

docs: render README.md
  README.md
Due: none

feat(github-action): update docker/setup-buildx-action action to v3.1.0
  .github/workflows/deploy.yaml
  .github/workflows/test.yaml
Due: yamllint

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.2.5
  apps/home-assistant/metadata.json
Due: none

fix(container): update image syncthing/syncthing to v1.27.4
  apps/syncthing/metadata.json
Due: none

fix(github-action): update renovatebot/github-action action to v40.1.3
  .github/workflows/renovate.yaml
Due: yamllint

feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.6.0
  apps/paperless-ngx/metadata.json
Due: none

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.6.1
  apps/paperless-ngx/metadata.json
Due: none

fix(github-action): update tj-actions/changed-files action to v42.0.6
  .github/workflows/prepare-matrix.yaml
Due: yamllint

fix(container): update image ghcr.io/siderolabs/talosctl to v1.6.6
  apps/talosctl/metadata.json
Due: none

fix(github-action): update tj-actions/changed-files action to v42.0.7
  .github/workflows/prepare-matrix.yaml
Due: yamllint

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.6.2
  apps/paperless-ngx/metadata.json
Due: none

feat(github-action): update docker/build-push-action action to v5.2.0
  .github/workflows/deploy.yaml
  .github/workflows/test.yaml
Due: yamllint

chore(container): update image quay.io/invidious/invidious to ed76a9c
  apps/invidious/Dockerfile
Due: hadolint

feat(github-action): update tj-actions/changed-files action to v42.1.0
  .github/workflows/prepare-matrix.yaml
Due: yamllint

fix(container): update image ghcr.io/miniflux/miniflux to v2.1.1
  apps/miniflux/metadata.json
Due: none

fix(github-action): update renovatebot/github-action action to v40.1.4
  .github/workflows/renovate.yaml
Due: yamllint

feat(container): update image ghcr.io/onedr0p/home-assistant to v2024.3.0
  apps/home-assistant/metadata.json
Due: none

feat(github-action): update docker/login-action action to v3.1.0
  .github/workflows/deploy.yaml
Due: yamllint

feat(github-action)!: Update tj-actions/changed-files action to v43.0.0
  .github/workflows/prepare-matrix.yaml
Due: yamllint

fix(github-action): update renovatebot/github-action action to v40.1.5
  .github/workflows/renovate.yaml
Due: yamllint

feat(github-action): update docker/build-push-action action to v5.3.0
  .github/workflows/deploy.yaml
  .github/workflows/test.yaml
Due: yamllint

feat(github-action): update docker/setup-buildx-action action to v3.2.0
  .github/workflows/deploy.yaml
  .github/workflows/test.yaml
Due: yamllint

feat(container): update image ghcr.io/authelia/authelia to v4.38.0
  apps/authelia/metadata.json
Due: none

feat(container): update image ghcr.io/authelia/authelia to v4.38.0
  apps/authelia/entrypoint.sh
  apps/authelia/metadata.json
Due: shellcheck

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.3.1
  apps/home-assistant/metadata.json
Due: none
