Repository deedee-ops/containers: changes, and which lefthook commands are due for each by the changed paths.
All: hadolint, shellcheck, yamllint

lefthook.yaml:

---
skip_output:
  - execution
pre-commit:
  parallel: true
  commands:
    hadolint:
      glob: '*Dockerfile'
      run: hadolint {all_files}
    shellcheck:
      glob: "*.sh"
      run: shellcheck {all_files}
    yamllint:
      glob: "*.yaml"
      run: yamllint {all_files}

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.6.2
  apps/home-assistant/metadata.json
Due: none

docs: render README.md
  README.md
Due: none

fix(container): update image public.ecr.aws/bitnami/kubectl to v1.30.2
  apps/script-exporter/Dockerfile
Due: hadolint

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.7.0.8876
  apps/radarr/metadata.json
Due: none

fix(github-action): update actions/checkout action to v4.1.7
  .github/workflows/deploy.yaml
  .github/workflows/linter.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/prepare-matrix.yaml
  .github/workflows/render-readme.yaml
  .github/workflows/renovate.yaml
  .github/workflows/test.yaml
Due: yamllint

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.19.0.4556
  apps/prowlarr/metadata.json
Due: none

feat(github-release): update cyfershepard/jellystat to 1.1.0
  apps/jellystat/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.19.0.4557
  apps/prowlarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.6.3
  apps/home-assistant/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.19.0.4558
  apps/prowlarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.7.0.8877
  apps/radarr/metadata.json
Due: none

fix(container): update image ghcr.io/authelia/authelia to v4.38.9
  apps/authelia/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.19.0.4559
  apps/prowlarr/metadata.json
Due: none

feat(github-action)!: Update docker/build-push-action action to v6.0.0
  .github/workflows/deploy.yaml
  .github/workflows/test.yaml
Due: yamllint

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.5.1760
  apps/sonarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.7.0.8879
  apps/radarr/metadata.json
Due: none

fix(github-action): update docker/build-push-action action to v6.0.1
  .github/workflows/deploy.yaml
  .github/workflows/test.yaml
Due: yamllint

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.7.0.8881
  apps/radarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.19.0.4562
  apps/prowlarr/metadata.json
Due: none

feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.10.1
  apps/paperless-ngx/metadata.json
Due: none

fix(github-action): update tj-actions/changed-files action to v44.5.3
  .github/workflows/prepare-matrix.yaml
Due: yamllint

fix(github-action): update docker/build-push-action action to v6.0.2
  .github/workflows/deploy.yaml
  .github/workflows/test.yaml
Due: yamllint

feat(container): update image ghcr.io/onedr0p/radarr to v5.7.0.8882
  apps/radarr/metadata.json
Due: none

feat(container): update image ghcr.io/onedr0p/radarr-develop to v5.7.0.8882
  apps/radarr/metadata.json
Due: none

feat(container): update image ghcr.io/onedr0p/radarr-nightly to v5.8.0.8883
  apps/radarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.19.0.4567
  apps/prowlarr/metadata.json
Due: none
