Repository deedee-ops/containers: changes, and which lefthook commands are due for each by the changed paths.
All: hadolint, shellcheck, yamllint

hadolint:
  run: hadolint {all_files}

shellcheck:
  run: shellcheck {all_files}

yamllint:
  run: yamllint {all_files}

WIP
  .github/renovate/customManagers.json5
Due: none

wipwip
  .github/renovate/customManagers.json5
  apps/firefly-iii/metadata.json
Due: none

WIP
  .github/renovate/customManagers.json5
  apps/firefly-iii/metadata.json
Due: none

WIP
  .github/renovate/customManagers.json5
  apps/firefly-iii/metadata.json
  apps/firefly-iii/metadata.yaml
Due: yamllint

WIP
  .github/renovate.json5
Due: none

docs: render README.md
  README.md
Due: none

WIP
  apps/firefly-iii/metadata.json
Due: none

feat(pbs): remove proxmox-backup-server
  apps/proxmox-backup-server/Dockerfile
  apps/proxmox-backup-server/base-entrypoint.sh
  apps/proxmox-backup-server/ci/goss.yaml
  apps/proxmox-backup-server/metadata.json
Due: hadolint, shellcheck, yamllint

feat(container): bring all containers up to date
  .github/renovate.json5
  .github/renovate/customManagers.json5
  README.md
  apps/alpine/metadata.json
  apps/bazarr/metadata.json
  apps/firefly-iii/metadata.json
  apps/home-assistant/metadata.json
  apps/jellystat/metadata.json
  apps/lldap/Dockerfile
  apps/lldap/metadata.json
  apps/maddy/metadata.json
  apps/miniflux/metadata.json
  apps/miniserve/metadata.json
  apps/navidrome/metadata.json
  apps/paperless-ngx/metadata.json
  apps/prowlarr/metadata.json
  apps/radarr/metadata.json
  apps/script-exporter/metadata.json
  apps/sonarr/metadata.json
Due: hadolint

fix(github-action): fix invalid on-pr linter reference
  .github/workflows/on-pr.yaml
Due: yamllint

fix(renovate): fix missing config options
  .github/renovate.json5
Due: none

fix(github-action): fix invalid on-pr linter reference
  .github/workflows/linter.yaml
  .github/workflows/on-pr.yaml
Due: yamllint

fix(renovate): fix version string
  .github/renovate/customManagers.json5
Due: none

fix(github-action): fix test script
  .github/workflows/test.yaml
Due: yamllint

fix(renovate): supress pr complains
  .github/renovate.json5
Due: none

fix(github-action): remove snyk
  .github/workflows/test.yaml
Due: yamllint

fix(github-action): fix broken metavar in test build
  .github/workflows/test.yaml
Due: yamllint

fix(talosctl): proper versioning parsing
  apps/talosctl/metadata.json
Due: none

fix(renovate): support for extraVersionTemplate
  .github/renovate/customManagers.json5
  apps/talosctl/metadata.json
  metadata.rules.cue
Due: none

fix(tika): proper version template
  apps/tika/metadata.json
Due: none

fix(lldap): fix versioning format
  apps/lldap/metadata.json
Due: none

feat(jellystat): remove unstable jellystat
  apps/jellystat/metadata.json
Due: none

Path conditions:
  hadolint: any of: *Dockerfile
  shellcheck: any of: *.sh
  yamllint: any of: *.yaml
