Repository deedee-ops/containers: changes, and which lefthook commands are due for each by the changed paths.
All: hadolint, shellcheck, yamllint

hadolint:
  run: hadolint {all_files}

shellcheck:
  run: shellcheck {all_files}

yamllint:
  run: yamllint {all_files}

feat: add alpine
  apps/alpine/Dockerfile
  apps/alpine/base-entrypoint.sh
  apps/alpine/ci/goss.yaml
  apps/alpine/metadata.json
Due: hadolint, shellcheck, yamllint

docs: render README.md
  README.md
Due: none

feat: add maddy
  apps/maddy/Dockerfile
  apps/maddy/_/data/tls/fullchain.pem
  apps/maddy/_/data/tls/privkey.pem
  apps/maddy/ci/goss.yaml
  apps/maddy/ci/secrets/MADDY_DOMAIN
  apps/maddy/metadata.json
Due: hadolint, yamllint

chore: clean up dockerfiles
  apps/alpine/Dockerfile
  apps/maddy/Dockerfile
Due: hadolint

feat: add ubuntu
  .github/renovate.json
  .snyk
  apps/maddy/Dockerfile
  apps/maddy/ci/goss.yaml
  apps/ubuntu/Dockerfile
  apps/ubuntu/base-entrypoint.sh
  apps/ubuntu/ci/goss.yaml
  apps/ubuntu/metadata.json
Due: hadolint, shellcheck, yamllint

feat: add postgres-logical-backup
  apps/postgres-logical-backup/Dockerfile
  apps/postgres-logical-backup/entrypoint.sh
  apps/postgres-logical-backup/metadata.json
Due: hadolint, shellcheck

chore(deps): update dependency goss-org/goss to v0.4.3
  .github/workflows/test.yaml
Due: yamllint

chore(deps): update dependency goss-org/goss to v0.4.4
  .github/workflows/test.yaml
Due: yamllint

feat: add lldap
  apps/lldap/Dockerfile
  apps/lldap/ci/goss.yaml
  apps/lldap/entrypoint.sh
  apps/lldap/metadata.json
Due: hadolint, shellcheck, yamllint

feat: add postgres-init
  .github/workflows/deploy.yaml
  apps/postgres-init/Dockerfile
  apps/postgres-init/entrypoint.sh
  apps/postgres-init/metadata.json
Due: hadolint, shellcheck, yamllint

fix(lldap): better handling database connection params in entrypoint
  apps/lldap/entrypoint.sh
Due: shellcheck

fix(maddy): use proper /config dir instead of /data
  apps/maddy/Dockerfile
  apps/maddy/_/config/tls/fullchain.pem
  apps/maddy/_/config/tls/privkey.pem
  apps/maddy/ci/goss.yaml
Due: hadolint, yamllint

spec: reorganize and cleanup goss tests
  apps/alpine/ci/goss.yaml
  apps/lldap/entrypoint.sh
  apps/postgres-init/ci/goss.yaml
  apps/postgres-init/ci/secrets/TEST_ENV
  apps/postgres-init/entrypoint.sh
  apps/postgres-logical-backup/ci/goss.yaml
  apps/postgres-logical-backup/ci/secrets/TEST_ENV
  apps/postgres-logical-backup/entrypoint.sh
  apps/ubuntu/Dockerfile
  apps/ubuntu/ci/goss.yaml
Due: hadolint, shellcheck, yamllint

feat: add authelia
  apps/authelia/Dockerfile
  apps/authelia/ci/goss.yaml
  apps/authelia/ci/secrets/AUTHELIA_ACCESS_CONTROL_DEFAULT_POLICY
  apps/authelia/ci/secrets/AUTHELIA_AUTHENTICATION_BACKEND_FILE_PATH
  apps/authelia/ci/secrets/AUTHELIA_JWT_SECRET
  apps/authelia/ci/secrets/AUTHELIA_NOTIFIER_FILESYSTEM_FILENAME
  apps/authelia/ci/secrets/AUTHELIA_SESSION_DOMAIN
  apps/authelia/ci/secrets/AUTHELIA_STORAGE_ENCRYPTION_KEY
  apps/authelia/ci/secrets/AUTHELIA_STORAGE_LOCAL_PATH
  apps/authelia/ci/secrets/authelia_backend.yaml
  apps/authelia/entrypoint.sh
  apps/authelia/metadata.json
Due: hadolint, shellcheck, yamllint

chore(deps): update public.ecr.aws/docker/library/postgres docker tag to v16.1
  apps/postgres-init/metadata.json
  apps/postgres-logical-backup/metadata.json
Due: none

feat(lldap): add devel version
  Taskfile.yaml
  apps/lldap/Dockerfile
  apps/lldap/metadata.json
Due: hadolint, yamllint

fix(postgres-logical-backup): fix DELETE_OLDER_THAN support
  apps/postgres-logical-backup/entrypoint.sh
Due: shellcheck

chore(deps): update public.ecr.aws/docker/library/alpine docker tag to v3.18.5
  apps/alpine/metadata.json
Due: none

chore(workflow): update github actions scripts
  .github/labeler.yaml
  .github/labels.yaml
  .github/renovate-bot.json5
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/renovate/commitMessage.json5
  .github/renovate/customManagers.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
  .github/scripts/templates/README.md.j2
  .github/workflows/deploy.yaml
  .github/workflows/lint.yaml
  .github/workflows/linter.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/on-merge-master.yaml
  .github/workflows/on-pr.yaml
  .github/workflows/prepare-matrix.yaml
  .github/workflows/render-readme.yaml
  .github/workflows/renovate.yaml
  .github/workflows/test.yaml
  README.md
  Taskfile.yaml
  apps/authelia/Dockerfile
  apps/lldap/Dockerfile
  apps/maddy/Dockerfile
  apps/postgres-init/Dockerfile
  apps/postgres-logical-backup/Dockerfile
Due: hadolint, yamllint

feat: add csp-exporter
  apps/csp-exporter/Dockerfile
  apps/csp-exporter/ci/goss.yaml
  apps/csp-exporter/metadata.json
Due: hadolint, yamllint

feat: add syncthing
  apps/syncthing/Dockerfile
  apps/syncthing/ci/goss.yaml
  apps/syncthing/metadata.json
Due: hadolint, yamllint

chore: rename dexters-ops to deedee-ops
  .github/renovate.json5
  .github/scripts/templates/README.md.j2
  .github/workflows/deploy.yaml
  .github/workflows/on-merge-master.yaml
  .github/workflows/on-pr.yaml
  .github/workflows/test.yaml
  Taskfile.yaml
  apps/authelia/Dockerfile
  apps/csp-exporter/Dockerfile
  apps/lldap/Dockerfile
  apps/maddy/Dockerfile
  apps/postgres-init/Dockerfile
  apps/postgres-logical-backup/Dockerfile
  apps/syncthing/Dockerfile
Due: hadolint, yamllint

feat: add navidrome
  apps/navidrome/Dockerfile
  apps/navidrome/ci/goss.yaml
  apps/navidrome/metadata.json
Due: hadolint, yamllint

fix(github-action): update tj-actions/changed-files action to v40.2.1
  .github/workflows/prepare-matrix.yaml
Due: yamllint

feat(container): update image syncthing/syncthing to v1.27.0
  apps/syncthing/metadata.json
Due: none

feat(github-action)!: Update actions/labeler action to v5.0.0
  .github/labeler.yaml
  .github/workflows/meta-labeler.yaml
Due: yamllint

chore: fix shellcheck tag for renovate
  .github/workflows/linter.yaml
Due: yamllint

Path conditions:
  hadolint: any of: *Dockerfile
  shellcheck: any of: *.sh
  yamllint: any of: *.yaml
