Repository deedee-ops/containers: changes, and which lefthook commands are due for each by the changed paths.
All: hadolint, shellcheck, yamllint

lefthook.yaml:

---
skip_output:
  - execution
pre-commit:
  parallel: true
  commands:
    hadolint:
      glob: '*Dockerfile'
      run: hadolint {all_files}
    shellcheck:
      glob: "*.sh"
      run: shellcheck {all_files}
    yamllint:
      glob: "*.yaml"
      run: yamllint {all_files}

feat(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.20.0.4569
  apps/prowlarr/metadata.json
Due: none

feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.10.1
  apps/paperless-ngx/metadata.json
Due: none

docs: render README.md
  README.md
Due: none

feat(container): update image ghcr.io/onedr0p/radarr to v5.7.0.8882
  apps/radarr/metadata.json
Due: none

feat(container): update image ghcr.io/onedr0p/radarr-develop to v5.7.0.8882
  apps/radarr/metadata.json
Due: none

feat(container): update image ghcr.io/onedr0p/radarr-nightly to v5.8.0.8883
  apps/radarr/metadata.json
Due: none

fix(container): update image public.ecr.aws/docker/library/alpine to v3.20.1
  apps/alpine/metadata.json
  apps/bazarr/Dockerfile
  apps/prowlarr/Dockerfile
  apps/radarr/Dockerfile
  apps/sonarr/Dockerfile
Due: hadolint

fix(container): update image ghcr.io/deedee-ops/alpine to v3.20.1
  apps/authelia/Dockerfile
  apps/csp-exporter/Dockerfile
  apps/firefoxsync/Dockerfile
  apps/gokapi/Dockerfile
  apps/home-assistant/Dockerfile
  apps/invidious/Dockerfile
  apps/jellystat/Dockerfile
  apps/lldap/Dockerfile
  apps/maddy/Dockerfile
  apps/miniflux/Dockerfile
  apps/miniserve/Dockerfile
  apps/navidrome/Dockerfile
  apps/offlineimap/Dockerfile
  apps/roundcube/Dockerfile
  apps/script-exporter/Dockerfile
  apps/syncthing/Dockerfile
  apps/talosctl/Dockerfile
Due: hadolint

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.20.0.4570
  apps/prowlarr/metadata.json
Due: none

feat(github-action): update docker/build-push-action action to v6.1.0
  .github/workflows/deploy.yaml
  .github/workflows/test.yaml
Due: yamllint

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.6.4
  apps/home-assistant/metadata.json
Due: none

fix(container): update image ghcr.io/siderolabs/talosctl to v1.7.5
  apps/talosctl/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.8.0.8884
  apps/radarr/metadata.json
Due: none

feat(container): update image ghcr.io/onedr0p/prowlarr to v1.19.0.4568
  apps/prowlarr/metadata.json
Due: none

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.19.0.4568
  apps/prowlarr/metadata.json
Due: none

fix(github-action): update tj-actions/changed-files action to v44.5.4
  .github/workflows/prepare-matrix.yaml
Due: yamllint

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.8.0.8885
  apps/radarr/metadata.json
Due: none

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.10.2
  apps/paperless-ngx/metadata.json
Due: none

fix(github-action): update tj-actions/changed-files action to v44.5.5
  .github/workflows/prepare-matrix.yaml
Due: yamllint

fix(github-release): update jellyfin/jellyfin to 10.9.7
  apps/jellyfin/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.5.1778
  apps/sonarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.20.0.4580
  apps/prowlarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.8.0.8890
  apps/radarr/metadata.json
Due: none

feat(github-action): update docker/build-push-action action to v6.2.0
  .github/workflows/deploy.yaml
  .github/workflows/test.yaml
Due: yamllint
