Repository deedee-ops/containers: changes, and which lefthook commands are due for each by the changed paths.
All: hadolint, shellcheck, yamllint

lefthook.yaml:

---
skip_output:
  - execution
pre-commit:
  parallel: true
  commands:
    hadolint:
      glob: '*Dockerfile'
      run: hadolint {all_files}
    shellcheck:
      glob: "*.sh"
      run: shellcheck {all_files}
    yamllint:
      glob: "*.yaml"
      run: yamllint {all_files}

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.3.1486
  apps/sonarr/metadata.json
Due: none

docs: render README.md
  README.md
Due: none

feat(container): update image ghcr.io/onedr0p/radarr to v5.4.6.8723
  apps/radarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.4.6.8723
  apps/radarr/metadata.json
Due: none

feat(container): update image ghcr.io/onedr0p/radarr-nightly to v5.5.0.8725
  apps/radarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.16.1.4419
  apps/prowlarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.5.0.8726
  apps/radarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/sonarr to v4.0.4.1491
  apps/sonarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.16.1.4420
  apps/prowlarr/metadata.json
Due: none

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.16.1.4420
  apps/prowlarr/metadata.json
Due: none

fix(container): update image ghcr.io/authelia/authelia to v4.38.8
  apps/authelia/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.4.1515
  apps/sonarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.16.2.4430
  apps/prowlarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.16.2.4431
  apps/prowlarr/metadata.json
Due: none

fix(container): update image public.ecr.aws/bitnami/kubectl to v1.29.4
  apps/script-exporter/Dockerfile
Due: hadolint

feat(github-action): update tj-actions/changed-files action to v44.1.0
  .github/workflows/prepare-matrix.yaml
Due: yamllint

fix(github-action): update renovatebot/github-action action to v40.1.10
  .github/workflows/renovate.yaml
Due: yamllint

feat(github-action): update tj-actions/changed-files action to v44.2.0
  .github/workflows/prepare-matrix.yaml
Due: yamllint

feat(github-action): update tj-actions/changed-files action to v44.3.0
  .github/workflows/prepare-matrix.yaml
Due: yamllint

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.5.0.8729
  apps/radarr/metadata.json
Due: none

feat(container): update image ghcr.io/siderolabs/talosctl to v1.7.0
  apps/talosctl/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.16.2.4434
  apps/prowlarr/metadata.json
Due: none

feat(container): update image ghcr.io/onedr0p/prowlarr to v1.16.2.4435
  apps/prowlarr/metadata.json
Due: none
