Repository deedee-ops/containers: changes, and which lefthook commands are due for each by the changed paths.
All: hadolint, shellcheck, yamllint

lefthook.yaml:

---
skip_output:
  - execution
pre-commit:
  parallel: true
  commands:
    hadolint:
      glob: '*Dockerfile'
      run: hadolint {all_files}
    shellcheck:
      glob: "*.sh"
      run: shellcheck {all_files}
    yamllint:
      glob: "*.yaml"
      run: yamllint {all_files}

feat(container): update image ghcr.io/onedr0p/radarr-nightly to v5.9.0.8934
  apps/radarr/metadata.json
Due: none

feat(container): update image ghcr.io/onedr0p/radarr to v5.8.3.8933
  apps/radarr/metadata.json
Due: none

docs: render README.md
  README.md
Due: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.21.2.4632
  apps/prowlarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.8.3.8933
  apps/radarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.9.0.8936
  apps/radarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.21.2.4633
  apps/prowlarr/metadata.json
Due: none

fix(github-action): update renovatebot/github-action action to v40.2.3
  .github/workflows/renovate.yaml
Due: yamllint

feat(github-action): update docker/login-action action to v3.3.0
  .github/workflows/deploy.yaml
Due: yamllint

feat(github-action): update docker/build-push-action action to v6.5.0
  .github/workflows/deploy.yaml
  .github/workflows/test.yaml
Due: yamllint

feat(github-action): update docker/setup-buildx-action action to v3.5.0
  .github/workflows/deploy.yaml
  .github/workflows/test.yaml
Due: yamllint

feat(github-action): update docker/setup-qemu-action action to v3.2.0
  .github/workflows/deploy.yaml
Due: yamllint

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.21.2.4639
  apps/prowlarr/metadata.json
Due: none

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.11.1
  apps/paperless-ngx/metadata.json
Due: none

fix(container): update image public.ecr.aws/docker/library/alpine to v3.20.2
  apps/alpine/metadata.json
  apps/bazarr/Dockerfile
  apps/prowlarr/Dockerfile
  apps/radarr/Dockerfile
  apps/sonarr/Dockerfile
Due: hadolint

fix(container): update image ghcr.io/deedee-ops/alpine to v3.20.2
  apps/authelia/Dockerfile
  apps/csp-exporter/Dockerfile
  apps/firefoxsync/Dockerfile
  apps/gokapi/Dockerfile
  apps/home-assistant/Dockerfile
  apps/invidious/Dockerfile
  apps/jellystat/Dockerfile
  apps/lldap/Dockerfile
  apps/maddy/Dockerfile
  apps/miniflux/Dockerfile
  apps/miniserve/Dockerfile
  apps/navidrome/Dockerfile
  apps/offlineimap/Dockerfile
  apps/roundcube/Dockerfile
  apps/script-exporter/Dockerfile
  apps/syncthing/Dockerfile
  apps/talosctl/Dockerfile
Due: hadolint

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.9.0.8949
  apps/radarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.21.2.4643
  apps/prowlarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.9.0.8953
  apps/radarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.8.1929
  apps/sonarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.9.0.8958
  apps/radarr/metadata.json
Due: none

chore(renovate): fix version parser
  .github/renovate/customManagers.json5
Due: none

WIP
  .github/renovate/customManagers.json5
Due: none

WIP
  .github/renovate/customManagers.json5
  apps/firefly-iii/metadata.json
Due: none
