Repository deedee-ops/containers: changes, and which lefthook commands are due for each by the changed paths.
All: hadolint, shellcheck, yamllint

lefthook.yaml:

---
skip_output:
  - execution
pre-commit:
  parallel: true
  commands:
    hadolint:
      glob: '*Dockerfile'
      run: hadolint {all_files}
    shellcheck:
      glob: "*.sh"
      run: shellcheck {all_files}
    yamllint:
      glob: "*.yaml"
      run: yamllint {all_files}

docs: render README.md
  README.md
Due: none

fix(container): update image ghcr.io/authelia/authelia to v4.38.1
  apps/authelia/metadata.json
Due: none

fix(container): update image ghcr.io/authelia/authelia to v4.38.2
  apps/authelia/metadata.json
Due: none

fix(container): update image public.ecr.aws/bitnami/kubectl to v1.29.3
  apps/script-exporter/Dockerfile
Due: hadolint

feat(container): update image svenstaro/miniserve to v0.27.0
  apps/miniserve/metadata.json
Due: none

fix(container): update image ghcr.io/authelia/authelia to v4.38.3
  apps/authelia/metadata.json
Due: none

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.6.3
  apps/paperless-ngx/metadata.json
Due: none

fix(container): update image ghcr.io/authelia/authelia to v4.38.4
  apps/authelia/metadata.json
Due: none

fix(container): update image ghcr.io/authelia/authelia to v4.38.5
  apps/authelia/metadata.json
Due: none

fix(container): update image ghcr.io/authelia/authelia to v4.38.6
  apps/authelia/metadata.json
Due: none

fix(container): update image ghcr.io/siderolabs/talosctl to v1.6.7
  apps/talosctl/metadata.json
Due: none

fix(github-action): update tj-actions/changed-files action to v43.0.1
  .github/workflows/prepare-matrix.yaml
Due: yamllint

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.3.2
  apps/home-assistant/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.3.3
  apps/home-assistant/metadata.json
Due: none

fix(github-action): update renovatebot/github-action action to v40.1.6
  .github/workflows/renovate.yaml
Due: yamllint

feat(github-action): update actions/setup-python action to v5.1.0
  .github/workflows/render-readme.yaml
Due: yamllint

feat(nix): introduce reproducible environment with flake.nix
  .gitignore
  flake.lock
  flake.nix
Due: none

feat(github-action)!: Update tj-actions/changed-files action to v44.0.0
  .github/workflows/prepare-matrix.yaml
Due: yamllint

feat(nix): introduce reproducible environment with flake.nix
  .envrc
  .gitignore
  flake.lock
  flake.nix
Due: none

fix(github-action): update renovatebot/github-action action to v40.1.7
  .github/workflows/renovate.yaml
Due: yamllint

fix(container): update image ghcr.io/miniflux/miniflux to v2.1.2
  apps/miniflux/metadata.json
Due: none

fix(container): update image ghcr.io/authelia/authelia to v4.38.7
  apps/authelia/metadata.json
Due: none

chore(container): update image quay.io/invidious/invidious to b46c32a
  apps/invidious/Dockerfile
Due: hadolint

fix(container): update image syncthing/syncthing to v1.27.5
  apps/syncthing/metadata.json
Due: none

fix(github-release): update apache/tika to 2.9.2
  apps/tika/metadata.json
Due: none
