Repository deedee-ops/containers: changes, and which lefthook commands are due for each by the changed paths.
All: hadolint, shellcheck, yamllint

lefthook.yaml:

---
skip_output:
  - execution
pre-commit:
  parallel: true
  commands:
    hadolint:
      glob: '*Dockerfile'
      run: hadolint {all_files}
    shellcheck:
      glob: "*.sh"
      run: shellcheck {all_files}
    yamllint:
      glob: "*.yaml"
      run: yamllint {all_files}

docs: render README.md
  README.md
Due: none

fix(talosctl): remove obsolete FROM stanza
  apps/talosctl/Dockerfile
Due: hadolint

feat(invidious): add liveness check for signature server
  apps/invidious/entrypoint.sh
  apps/invidious/metadata.json
Due: shellcheck

feat: add argocd
  apps/argocd/Dockerfile
  apps/argocd/metadata.json
  apps/argocd/nullify-subchart-values.patch
Due: hadolint

feat: add argocd
  .github/renovate.json5
  .github/renovate/customVersions.json5
  apps/argocd/Dockerfile
  apps/argocd/metadata.json
  apps/argocd/nullify-subchart-values.patch
Due: hadolint

feat: add spegel
  apps/spegel/Dockerfile
  apps/spegel/fix-containerd.patch
  apps/spegel/metadata.json
Due: hadolint
