Repository deedee-ops/containers: changes, and which lefthook commands are due for each by the changed paths.
All: hadolint, shellcheck, yamllint

hadolint:
  run: hadolint {all_files}

shellcheck:
  run: shellcheck {all_files}

yamllint:
  run: yamllint {all_files}

fix(container): update image ghcr.io/siderolabs/talosctl to v1.6.3
  apps/talosctl/metadata.json
Due: none

docs: render README.md
  README.md
Due: none

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.4.1
  apps/paperless-ngx/metadata.json
Due: none

fix(github-action): update tj-actions/changed-files action to v42.0.1
  .github/workflows/prepare-matrix.yaml
Due: yamllint

fix(github-action): update tj-actions/changed-files action to v42.0.2
  .github/workflows/prepare-matrix.yaml
Due: yamllint

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.4.2
  apps/paperless-ngx/metadata.json
Due: none

fix(container): update image public.ecr.aws/docker/library/alpine to v3.19.1
  apps/alpine/metadata.json
  apps/prowlarr/Dockerfile
Due: hadolint

fix(container): update image ghcr.io/deedee-ops/alpine to v3.19.1
  apps/authelia/Dockerfile
  apps/csp-exporter/Dockerfile
  apps/firefoxsync/Dockerfile
  apps/home-assistant/Dockerfile
  apps/invidious/Dockerfile
  apps/lldap/Dockerfile
  apps/maddy/Dockerfile
  apps/miniflux/Dockerfile
  apps/miniserve/Dockerfile
  apps/navidrome/Dockerfile
  apps/offlineimap/Dockerfile
  apps/script-exporter/Dockerfile
  apps/syncthing/Dockerfile
  apps/talosctl/Dockerfile
Due: hadolint

feat(github-action)!: Update renovatebot/github-action action to v40.0.0
  .github/workflows/renovate.yaml
Due: yamllint

fix(github-action): update renovatebot/github-action action to v40.0.1
  .github/workflows/renovate.yaml
Due: yamllint

fix(github-action): update renovatebot/github-action action to v40.0.2
  .github/workflows/renovate.yaml
Due: yamllint

feat(github-action)!: Update andstor/file-existence-action action to v3.0.0
  .github/workflows/test.yaml
Due: yamllint

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.4.3
  apps/paperless-ngx/metadata.json
Due: none

chore(container): update image quay.io/invidious/invidious to fc25ef2
  apps/invidious/Dockerfile
Due: hadolint

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.1.6
  apps/home-assistant/metadata.json
Due: none

fix(container): update image ghcr.io/siderolabs/talosctl to v1.6.4
  apps/talosctl/metadata.json
Due: none

feat(github-action): update jbergstroem/hadolint-gh-action action to v1.12.0
  .github/workflows/linter.yaml
Due: yamllint

fix(github-action): update jbergstroem/hadolint-gh-action action to v1.12.1
  .github/workflows/linter.yaml
Due: yamllint

fix(github-action): update jbergstroem/hadolint-gh-action action to v1.12.2
  .github/workflows/linter.yaml
Due: yamllint

fix(container): update image syncthing/syncthing to v1.27.3
  apps/syncthing/metadata.json
Due: none

feat(container): update image public.ecr.aws/docker/library/golang to v1.22
  apps/csp-exporter/Dockerfile
Due: hadolint

feat: add roundcube
  apps/roundcube/99_roundcube.ini
  apps/roundcube/Dockerfile
  apps/roundcube/ci/goss.yaml
  apps/roundcube/entrypoint.sh
  apps/roundcube/lighttpd.conf
  apps/roundcube/metadata.json
Due: hadolint, shellcheck, yamllint

fix(container): update image ghcr.io/deedee-ops/alpine to v3.19.1
  apps/roundcube/Dockerfile
Due: hadolint

feat: add mbsync
  apps/mbsync/Dockerfile
  apps/mbsync/ci/goss.yaml
  apps/mbsync/metadata.json
Due: hadolint, yamllint

feat(container): update image ghcr.io/onedr0p/home-assistant to v2024.2.0
  apps/home-assistant/metadata.json
Due: none

fix(github-action): update renovatebot/github-action action to v40.0.3
  .github/workflows/renovate.yaml
Due: yamllint

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.2.1
  apps/home-assistant/metadata.json
Due: none

Path conditions:
  hadolint: any of: *Dockerfile
  shellcheck: any of: *.sh
  yamllint: any of: *.yaml
