Repository deedee-ops/containers: changes, and which lefthook commands are due for each by the changed paths.
All: hadolint, shellcheck, yamllint

lefthook.yaml:

---
skip_output:
  - execution
pre-commit:
  parallel: true
  commands:
    hadolint:
      glob: '*Dockerfile'
      run: hadolint {all_files}
    shellcheck:
      glob: "*.sh"
      run: shellcheck {all_files}
    yamllint:
      glob: "*.yaml"
      run: yamllint {all_files}

fix: migrate onedr0p repos to home-operations
  apps/bazarr/Dockerfile
  apps/bazarr/metadata.json
  apps/home-assistant/Dockerfile
  apps/home-assistant/metadata.json
  apps/prowlarr/Dockerfile
  apps/prowlarr/metadata.json
  apps/radarr/Dockerfile
  apps/radarr/metadata.json
  apps/sonarr/Dockerfile
  apps/sonarr/metadata.json
Due: hadolint

docs: render README.md
  README.md
Due: none

fix(renovate): disable betas on packages using them
  .github/renovate/customVersions.json5
Due: none

fix(renovate): disable betas on packages using them
  .github/renovate/customVersions.json5
  apps/bitmagnet/metadata.json
  apps/paperless-ngx/metadata.json
Due: none

feat: remove firefly-iii
  README.md
  apps/firefly-iii/Dockerfile
  apps/firefly-iii/base-entrypoint.sh
  apps/firefly-iii/ci/goss.yaml
  apps/firefly-iii/ci/secrets/APP_KEY
  apps/firefly-iii/ci/secrets/DB_CONNECTION
  apps/firefly-iii/ci/secrets/DB_DATABASE
  apps/firefly-iii/entrypoint.sh
  apps/firefly-iii/metadata.json
Due: hadolint, shellcheck, yamllint

fix(wakapi): fix broken entrypoint
  apps/wakapi/Dockerfile
Due: hadolint

feat: remove paperless-ngx
  README.md
  apps/paperless-ngx/Dockerfile
  apps/paperless-ngx/base-entrypoint.sh
  apps/paperless-ngx/ci/goss.yaml
  apps/paperless-ngx/entrypoint.sh
  apps/paperless-ngx/metadata.json
Due: hadolint, shellcheck, yamllint
