Repository deedee-ops/containers: changes, and which lefthook commands are due for each by the changed paths.
All: hadolint, shellcheck, yamllint

hadolint:
  run: hadolint {all_files}

shellcheck:
  run: shellcheck {all_files}

yamllint:
  run: yamllint {all_files}

feat(container): update image syncthing/syncthing to v1.27.0
  apps/syncthing/metadata.json
Due: none

docs: render README.md
  README.md
Due: none

feat(github-action): update actions/setup-python action to v4.8.0
  .github/workflows/render-readme.yaml
Due: yamllint

feat: add invidious
  apps/invidious/Dockerfile
  apps/invidious/ci/goss.yaml
  apps/invidious/entrypoint.sh
  apps/invidious/metadata.json
Due: hadolint, shellcheck, yamllint

feat(github-action): update renovatebot/github-action action to v39.2.0
  .github/workflows/renovate.yaml
Due: yamllint

fix(lldap): use latest version for devel build
  apps/lldap/metadata.json
Due: none

feat(github-action)!: Update actions/setup-python action to v5.0.0
  .github/workflows/render-readme.yaml
Due: yamllint

fix(github-action): update renovatebot/github-action action to v39.2.1
  .github/workflows/renovate.yaml
Due: yamllint

chore(container): update image quay.io/invidious/invidious to d7517f2
  apps/invidious/Dockerfile
Due: hadolint

feat(container): update image public.ecr.aws/docker/library/alpine to v3.19.0
  apps/alpine/metadata.json
Due: none

feat(container): update image ghcr.io/deedee-ops/alpine to v3.19.0
  apps/authelia/Dockerfile
  apps/csp-exporter/Dockerfile
  apps/invidious/Dockerfile
  apps/lldap/Dockerfile
  apps/maddy/Dockerfile
  apps/navidrome/Dockerfile
  apps/syncthing/Dockerfile
Due: hadolint

feat: add paperless-ngx
  .github/workflows/deploy.yaml
  .github/workflows/test.yaml
  Taskfile.yaml
  apps/paperless-ngx/Dockerfile
  apps/paperless-ngx/base-entrypoint.sh
  apps/paperless-ngx/ci/goss.yaml
  apps/paperless-ngx/entrypoint.sh
  apps/paperless-ngx/metadata.json
Due: hadolint, shellcheck, yamllint

fix(github-action): update tj-actions/changed-files action to v40.2.2
  .github/workflows/prepare-matrix.yaml
Due: yamllint

feat: add tika
  apps/tika/Dockerfile
  apps/tika/ci/goss.yaml
  apps/tika/metadata.json
Due: hadolint, yamllint

feat: add firefly-iii
  apps/firefly-iii/Dockerfile
  apps/firefly-iii/base-entrypoint.sh
  apps/firefly-iii/ci/goss.yaml
  apps/firefly-iii/ci/secrets/APP_KEY
  apps/firefly-iii/ci/secrets/DB_CONNECTION
  apps/firefly-iii/ci/secrets/DB_DATABASE
  apps/firefly-iii/entrypoint.sh
  apps/firefly-iii/metadata.json
Due: hadolint, shellcheck, yamllint

feat: add miniserve
  apps/miniserve/Dockerfile
  apps/miniserve/ci/goss.yaml
  apps/miniserve/metadata.json
Due: hadolint, yamllint

feat: add offlineimap
  .github/renovate/customManagers.json5
  apps/offlineimap/Dockerfile
  apps/offlineimap/ci/goss.yaml
  apps/offlineimap/metadata.json
  metadata.rules.cue
Due: hadolint, yamllint

feat(github-action)!: Update github/codeql-action action to v3
  .github/workflows/test.yaml
Due: yamllint

feat: add firefoxsync
  apps/firefoxsync/Dockerfile
  apps/firefoxsync/ci/goss.yaml
  apps/firefoxsync/entrypoint.sh
  apps/firefoxsync/metadata.json
Due: hadolint, shellcheck, yamllint

fix(github-action): update renovatebot/github-action action to v39.2.2
  .github/workflows/renovate.yaml
Due: yamllint

fix(renovate): packageName parser
  .github/renovate/customManagers.json5
Due: none

feat: add miniflux
  apps/miniflux/Dockerfile
  apps/miniflux/ci/goss.yaml
  apps/miniflux/entrypoint.sh
  apps/miniflux/metadata.json
Due: hadolint, shellcheck, yamllint

fix(github-action): update renovatebot/github-action action to v39.2.3
  .github/workflows/renovate.yaml
Due: yamllint

fix(container): update image ghcr.io/navidrome/navidrome to v0.50.2
  apps/navidrome/metadata.json
Due: none

fix(container): update image syncthing/syncthing to v1.27.1
  apps/syncthing/metadata.json
Due: none

Path conditions:
  hadolint: any of: *Dockerfile
  shellcheck: any of: *.sh
  yamllint: any of: *.yaml
