Repository deedee-ops/containers: changes, and which lefthook commands are due for each by the changed paths.
All: hadolint, shellcheck, yamllint

lefthook.yaml:

---
skip_output:
  - execution
pre-commit:
  parallel: true
  commands:
    hadolint:
      glob: '*Dockerfile'
      run: hadolint {all_files}
    shellcheck:
      glob: "*.sh"
      run: shellcheck {all_files}
    yamllint:
      glob: "*.yaml"
      run: yamllint {all_files}

docs: render README.md
  README.md
Due: none

fix(sonarr,radarr): run as unprivileged user
  apps/radarr/Dockerfile
  apps/sonarr/Dockerfile
Due: hadolint

fix(bazarr): run as unprivileged user
  apps/bazarr/Dockerfile
Due: hadolint

chore: fix concurency of some workflows
  .github/workflows/render-readme.yaml
  .github/workflows/renovate.yaml
Due: yamllint

chore: remove lefthook in favor of pre-commit-hook
  .github/renovate/customVersions.json5
  .github/workflows/deploy.yaml
  .github/workflows/prepare-matrix.yaml
  .github/workflows/test.yaml
  .gitignore
  README.md
  apps/alpine/base-entrypoint.sh
  apps/authelia/entrypoint.sh
  apps/bazarr/_/add-ons/subcleaner/regex_profiles/default/polish.conf
  apps/bazarr/_/app/config.yaml.tmpl
  apps/bazarr/base-entrypoint.sh
  apps/csp-exporter/metadata.json
  apps/firefly-iii/base-entrypoint.sh
  apps/firefly-iii/entrypoint.sh
  apps/firefoxsync/entrypoint.sh
  apps/invidious/entrypoint.sh
  apps/jellyfin/entrypoint.sh
  apps/lldap/entrypoint.sh
  apps/miniflux/entrypoint.sh
  apps/paperless-ngx/base-entrypoint.sh
  apps/paperless-ngx/entrypoint.sh
  apps/postgres-init/entrypoint.sh
  apps/postgres-logical-backup/entrypoint.sh
  apps/prowlarr/base-entrypoint.sh
  apps/radarr/base-entrypoint.sh
  apps/roundcube/entrypoint.sh
  apps/sonarr/base-entrypoint.sh
  apps/syncthing/metadata.json
  apps/talosctl/entrypoint.sh
  apps/tika/metadata.json
  apps/ubuntu/base-entrypoint.sh
  flake.lock
  flake.nix
  lefthook.yaml
Due: shellcheck, yamllint
