Repository deedee-ops/containers: changes, and which lefthook commands are due for each by the changed paths.
All: hadolint, shellcheck, yamllint

lefthook.yaml:

---
skip_output:
  - execution
pre-commit:
  parallel: true
  commands:
    hadolint:
      glob: '*Dockerfile'
      run: hadolint {all_files}
    shellcheck:
      glob: "*.sh"
      run: shellcheck {all_files}
    yamllint:
      glob: "*.yaml"
      run: yamllint {all_files}

feat(container): update image ghcr.io/onedr0p/radarr to v5.6.0.8846
  apps/radarr/metadata.json
Due: none

feat(container): update image ghcr.io/onedr0p/radarr-develop to v5.6.0.8846
  apps/radarr/metadata.json
Due: none

feat(container): update image ghcr.io/onedr0p/radarr-nightly to v5.7.0.8847
  apps/radarr/metadata.json
Due: none

docs: render README.md
  README.md
Due: none

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.8.5
  apps/paperless-ngx/metadata.json
Due: none

fix(container): update image public.ecr.aws/bitnami/kubectl to v1.30.1
  apps/script-exporter/Dockerfile
Due: hadolint

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.8.6
  apps/paperless-ngx/metadata.json
Due: none

fix(github-action): update actions/checkout action to v4.1.6
  .github/workflows/deploy.yaml
  .github/workflows/linter.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/prepare-matrix.yaml
  .github/workflows/render-readme.yaml
  .github/workflows/renovate.yaml
  .github/workflows/test.yaml
Due: yamllint

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.5.4
  apps/home-assistant/metadata.json
Due: none

fix(container): update image ghcr.io/siderolabs/talosctl to v1.7.2
  apps/talosctl/metadata.json
Due: none

fix(github-release): update jellyfin/jellyfin to 10.9.2
  apps/jellyfin/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.18.0.4519
  apps/prowlarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.18.0.4522
  apps/prowlarr/metadata.json
Due: none

fix(github-release): update roundcube/roundcubemail to 1.6.7
  apps/roundcube/metadata.json
Due: none

feat(github-action): update tj-actions/changed-files action to v44.5.0
  .github/workflows/prepare-matrix.yaml
Due: yamllint

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.7.0.8850
  apps/radarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.4.1692
  apps/sonarr/metadata.json
Due: none

feat(container): update image public.ecr.aws/docker/library/alpine to v3.20.0
  apps/alpine/metadata.json
  apps/bazarr/Dockerfile
  apps/prowlarr/Dockerfile
  apps/radarr/Dockerfile
  apps/sonarr/Dockerfile
Due: hadolint

feat(container): update image ghcr.io/deedee-ops/alpine to v3.20.0
  apps/authelia/Dockerfile
  apps/csp-exporter/Dockerfile
  apps/firefoxsync/Dockerfile
  apps/gokapi/Dockerfile
  apps/home-assistant/Dockerfile
  apps/invidious/Dockerfile
  apps/jellystat/Dockerfile
  apps/lldap/Dockerfile
  apps/maddy/Dockerfile
  apps/miniflux/Dockerfile
  apps/miniserve/Dockerfile
  apps/navidrome/Dockerfile
  apps/offlineimap/Dockerfile
  apps/roundcube/Dockerfile
  apps/script-exporter/Dockerfile
  apps/syncthing/Dockerfile
  apps/talosctl/Dockerfile
Due: hadolint

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.7.0.8851
  apps/radarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.4.1695
  apps/sonarr/metadata.json
Due: none
