Repository deedee-ops/containers: changes, and which lefthook commands are due for each by the changed paths.
All: hadolint, shellcheck, yamllint

hadolint:
  run: hadolint {all_files}

shellcheck:
  run: shellcheck {all_files}

yamllint:
  run: yamllint {all_files}

docs: render README.md
  README.md
Due: none

feat(container): update image ricoberger/script_exporter to v2.18.0
  apps/script-exporter/metadata.json
Due: none

feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.5.0
  apps/paperless-ngx/metadata.json
Due: none

feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.5.0
  apps/paperless-ngx/Dockerfile
  apps/paperless-ngx/metadata.json
Due: hadolint

chore(container): update image quay.io/invidious/invidious to 3b2e106
  apps/invidious/Dockerfile
Due: hadolint

feat(github-action): update renovatebot/github-action action to v40.1.0
  .github/workflows/renovate.yaml
Due: yamllint

chore(container): update image quay.io/invidious/invidious to 1bf14f7
  apps/invidious/Dockerfile
Due: hadolint

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.5.1
  apps/paperless-ngx/metadata.json
Due: none

feat(container): update image public.ecr.aws/docker/library/postgres to v16.2
  apps/postgres-init/metadata.json
  apps/postgres-logical-backup/metadata.json
Due: none

fix(github-action): update endbug/label-sync action to v2.3.3
  .github/workflows/meta-sync-labels.yaml
Due: yamllint

fix(container): update image public.ecr.aws/bitnami/kubectl to v1.29.2
  apps/script-exporter/Dockerfile
Due: hadolint

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.5.2
  apps/paperless-ngx/metadata.json
Due: none

chore(container): update image quay.io/invidious/invidious to e01f865
  apps/invidious/Dockerfile
Due: hadolint

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.5.3
  apps/paperless-ngx/metadata.json
Due: none

fix(container): update image ghcr.io/navidrome/navidrome to v0.51.1
  apps/navidrome/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.2.2
  apps/home-assistant/metadata.json
Due: none

feat(container): update image ghcr.io/miniflux/miniflux to v2.1.0
  apps/miniflux/metadata.json
Due: none

fix(github-action): update tj-actions/changed-files action to v42.0.3
  .github/workflows/prepare-matrix.yaml
Due: yamllint

fix(github-action): update tj-actions/changed-files action to v42.0.4
  .github/workflows/prepare-matrix.yaml
Due: yamllint

chore(container): update image quay.io/invidious/invidious to afc5352
  apps/invidious/Dockerfile
Due: hadolint

fix(github-action): update renovatebot/github-action action to v40.1.1
  .github/workflows/renovate.yaml
Due: yamllint

fix(github-action): update cue-lang/setup-cue action to v1.0.1
  .github/workflows/linter.yaml
Due: yamllint

fix(container): update image ghcr.io/siderolabs/talosctl to v1.6.5
  apps/talosctl/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.2.3
  apps/home-assistant/metadata.json
Due: none

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.5.4
  apps/paperless-ngx/metadata.json
Due: none

Path conditions:
  hadolint: any of: *Dockerfile
  shellcheck: any of: *.sh
  yamllint: any of: *.yaml
