Repository deedee-ops/containers: changes, and which lefthook commands are due for each by the changed paths.
All: hadolint, shellcheck, yamllint

lefthook.yaml:

---
skip_output:
  - execution
pre-commit:
  parallel: true
  commands:
    hadolint:
      glob: '*Dockerfile'
      run: hadolint {all_files}
    shellcheck:
      glob: "*.sh"
      run: shellcheck {all_files}
    yamllint:
      glob: "*.yaml"
      run: yamllint {all_files}

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.7.1
  apps/paperless-ngx/metadata.json
Due: none

docs: render README.md
  README.md
Due: none

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.4.5.8715
  apps/radarr/metadata.json
Due: none

feat: add jellystat
  Taskfile.yaml
  apps/jellystat/Dockerfile
  apps/jellystat/ci/goss.yaml
  apps/jellystat/metadata.json
  flake.nix
Due: hadolint, yamllint

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v2.7.2
  apps/paperless-ngx/metadata.json
Due: none

feat(github-action): update docker/setup-buildx-action action to v3.3.0
  .github/workflows/deploy.yaml
  .github/workflows/test.yaml
Due: yamllint

fix(github-action): update renovatebot/github-action action to v40.1.8
  .github/workflows/renovate.yaml
Due: yamllint

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.4.2
  apps/home-assistant/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.3.1442
  apps/sonarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.16.1.4403
  apps/prowlarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.4.6.8717
  apps/radarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.16.1.4404
  apps/prowlarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.4.6.8718
  apps/radarr/metadata.json
Due: none

fix(container): update image syncthing/syncthing to v1.27.6
  apps/syncthing/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.16.1.4406
  apps/prowlarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.4.6.8719
  apps/radarr/metadata.json
Due: none

fix(github-action): update tj-actions/changed-files action to v44.0.1
  .github/workflows/prepare-matrix.yaml
Due: yamllint

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.3.1465
  apps/sonarr/metadata.json
Due: none

chore(container): update image quay.io/invidious/invidious to 3909fab
  apps/invidious/Dockerfile
Due: hadolint

fix(container): update image ghcr.io/onedr0p/radarr-nightly to v5.4.6.8722
  apps/radarr/metadata.json
Due: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.16.1.4412
  apps/prowlarr/metadata.json
Due: none

fix(github-action): update renovatebot/github-action action to v40.1.9
  .github/workflows/renovate.yaml
Due: yamllint

fix(github-action): update stefanzweifel/git-auto-commit-action action to v5.0.1
  .github/workflows/render-readme.yaml
Due: yamllint

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.4.3
  apps/home-assistant/metadata.json
Due: none
